body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ece6cc;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.signup-form {
    background-color: #1a1a1a;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

h2 {
    font-size: 22px;
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: left;
}

input[type="email"],
input[type="password"] {
    width: 93%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.btn {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.primary {
    background-color: #1DB954;
    color: #fff;
}

.google {
    background-color: #db4437;
    color: white;
}

.facebook {
    background-color: #3b5998;
    color: white;
}

.apple {
    background-color: #000;
    color: white;
}

.social-signup button i {
    margin-right: 10px;
}

.social-signup button a {
    flex: 1;
    text-align: left;
    margin-left: 10px;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.divider {
    margin: 20px 0;
    font-size: 14px;
    color: #B3B3B3;
}

.social-signup {
    margin-bottom: 20px;
}
.btn-apple i a{
    text-decoration: none;
    color: black;
}

p {
    font-size: 14px;
    color: #B3B3B3;
}

a {
    color: #1DB954;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    padding: 0;
}

li::before {
    content: '✔';
    color: #1DB954;
    margin-right: 10px;
}